<% provide(:title,"home") %>
 <h2>
   <%= link_to "English", locale:"en" %>
   <%= link_to "Vietnamese", locale:"vi" %>
 </h2>
    <h1> <%= t ".title_help" %> </h1>
    <p>
     <%= t ".p1_help" %>
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    <%= t ".p2_help" %>
     </p>